@import '../variables';

.header {
  height: $header-height;
  display: flex;
  justify-content: center;
}

.container {
  width: 85%;
  justify-content: space-between;
}

.header__name a {
  color: $light-color;
  font-family: $fancy-font;
  font-size: 26px;
  font-weight: 600;
}

.header__nav {
  width: 500px;
  height: 100%;
}

.nav__search {
  position: relative;
}

.search__btn {
  height: $header-height;
  position: absolute;
  right: 0;
  font-size:36px;
  width: $header-height;
  border-radius: 50%;
}

.btn:hover {
  background-color: $dark-elements;
  transition: 0.3s;
}

.search__form {
  position: absolute;
  top: $header-height;
  right: 0;
  background-color: $light-color;
  border-radius: 4px;
}

.form__submit {
  height: 40px;
  width: 60px;
  border-radius: 0 3px 3px 0;
}

.form__submit:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
}