@import '../src/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $light-color;
  font-family: $normal-font;
}

body {
  text-align: center;
  background-color: $dark-color2;
}

.btn {
  border: none;
  background-color: $dark-color2;
}