$header-height: 70px;
$light-color: #e4d6a7;
$medium-color: #e9b44c;
$dark-elements: #211f1f;
$details-color: #9b2915;
$rare-color: #568259;
$whatever-color: #28666e;
$dark-color2: #383434;

$normal-font: 'Open Sans', sans-serif;
$fancy-font: 'Oswald', sans-serif;